[Unit]
Description=Flask instance to serve esp_presentation_demo
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/esp_presentation_demo
ExecStart=/usr/bin/python3 -m flask run --host=0.0.0.0
Environment="FLASK_APP=app.py"

[Install]
WantedBy=multi-user.target

